<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebMarket 2.0 - Registration</title>
</head>
<body>
<p>WebMarket 2.0 - Registration</p>
<h3>Create a new profile</h3>
<form action="/user/registration" method="post">
    Name: <input type="text" name="name"/><br><br>
    Surname: <input type="text" name="surname"/><br><br>
    Date of birth: <input type="date" name="birthday"/><br><br>
    Email: <input type="email" name="email"/><br><br>
    Password: <input type="password" name="password1"/><br><br>
    Repeat password: <input type="password" name="password2"/><br><br>
    <input type="submit" value="Create new profile">
</form>
</body>
</html>