<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WebMarket 2.0</title>
</head>
<body>
<h1>WebMarket 2.0</h1><hr>
<h4>The Best Spanish WebMarket
    <a href="/about">About us...</a></h4>
<form method="get" action="/" > Search by title of product: <input type="text" name="title"><br>
    <input type="submit" value="Search">
</form><br>
<form method="get" action="/assortment">
    <input type="submit" value="View all Products">
</form>

<br>

<br>


<form method="get" action="/login">
    <input type="submit" value="Log In">
</form>
<form method="get" action="/registration">
    <input type="submit" value="Registration">
</form>

<hr>

</body>
</html>