<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
    <title>WebMarket 2.0</title>
    <style>
        div.main{
            width: 100%;
            height: 680px;
            border: 1px solid #ccc;
            background-color: #eee;
        }

    </style>
</head>
<body>
<div th:insert="~{blocks/header :: header}"></div>
<div class="main">
    <h1 align="center">The Best WebMarket In Spain</h1>

    <!-- CLIENTS SIDE -->

    <div class="text-end" sec:authorize="isAnonymous() || hasAnyRole('CLIENT')">
        <div align="center">
            <h3><i>We sell more than utensils - we give emotions</i></h3>
            <img src="/images/slide1.jpg" alt="first slide" height="513" width="700">
        </div>
    </div>

    <!-- ADMIN/MANAGER SIDE -->

    <div class="text-end" sec:authorize="hasAnyRole('MANAGER','ADMIN')">
        <h3 align="center">ADMINISTRATOR/MANAGER PAGE</h3>
        <br>
        <br>
        <form align="left" method="get" action="/order/all">
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="View All Orders">
        </form>
        <br>
        <form align="left" method="get" action="/user/all">
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="View All Users">
        </form>
        <br>
        <form align="left" method="get" action="/assortment/allCategories">
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="View All Categories">
        </form>
    </div>
</div>

</body>
<footer>
    <div th:insert="~{blocks/footer :: footer}"></div>
</footer>
</html>